.login-bg {
    min-height: 100vh;
    background: linear-gradient(to bottom, #181623 40%, #232323 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.login-box {
    background: rgba(21, 21, 21, 0.87);
    width: 340px;
    margin: 0 auto;
    padding: 38px 33px 28px 33px;
    border-radius: 10px;
    box-shadow: 0 5px 30px #000c;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.login-box h2 {
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 28px;
    text-align: left;
}

.login-box input {
    background: #343434;
    border: none;
    border-radius: 5px;
    padding: 13px 15px;
    margin-bottom: 18px;
    font-size: 1rem;
    color: white;
    outline: none;
    transition: box-shadow 0.2s;
}

.login-box input:focus {
    box-shadow: 0 0 0 2px #e50914;
}

.login-box button {
    background: #e50914;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 14px 0;
    font-size: 1.09rem;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 8px;
    transition: background 0.25s;
}

.login-box button:hover {
    background: #a10c11;
}

.login-error {
    color: #e50914;
    font-weight: 500;
    margin-bottom: 8px;
    margin-top: -10px;
    text-align: left;
}
